@{
    var user = await UserManager.GetUserAsync(User);
}
<header>
    <div class="container">
        <a id="logo" asp-action="Home" asp-controller="Default">
            <img src="~/images/silicon-logo-light_theme.svg" alt="silicon logotype" />
        </a>

        <div id="menu">
            <nav>
                <a asp-action="Home" asp-controller="Default" asp-fragment="showcase" class="menu-link">Overview</a>
                <a asp-action="Home" asp-controller="Default" asp-fragment="features" class="menu-link">Features</a>
                @if(SignInManager.IsSignedIn(User))
                {
                    <a asp-action="Index" asp-controller="Courses" class="menu-link">Courses</a>
                }
                <a asp-action="Contact" asp-controller="Default" class="menu-link">Contact</a>
            </nav>
        </div>

        <div class="btn-switch">
            <span>Light</span>
            <div class="switch">
                <input type="checkbox" id="switch" role="switch">
                <label for="switch" class="slider round"></label>
            </div>
            <span>Dark</span>
        </div>

        <div class="account-buttons">
            @if (SignInManager.IsSignedIn(User))
            {
                <div class="profile-picture">
                    <a asp-action="Details" asp-controller="Account">
                        <img src="~/images/uploads/profiles/@user.ProfileImage" />
                    </a>
                </div>
            }
            else
            {
                <a asp-action="SignIn" asp-controller="Auth" class="btn-gray"><i class="fa-solid fa-arrow-right-to-bracket"></i>Sign in</a>
                <a asp-action="SignUp" asp-controller="Auth" class="btn-theme"><i class="fa-regular fa-user"></i>Sign up</a>
            }
        </div>

        <div class="btn-mobile">
            <button class="btn" onclick="showMenu()"><i class="fa-solid fa-bars" aria-controls="mobile-menu"></i></button>
        </div>

    </div>

    <div id="mobile-menu" aria-expanded="false">
        <div class="btn-switch">
            <span>Light</span>
            <div class="switch">
                <input type="checkbox" id="switch" role="switch">
                <label for="switch" class="slider round"></label>
            </div>
            <span>Dark</span>
        </div>
        <div class="account-buttons">
            <button class="btn-gray"><i class="fa-solid fa-arrow-right-to-bracket"></i>Sign in</button>
            <button class="btn-theme"><i class="fa-regular fa-user"></i>Sign up</button>
        </div>
        <div id="menu">
            <nav>
                <a class="menu-link" href="#">Overview</a>
                <a class="menu-link" href="#">Features</a>
                <a class="menu-link" href="/courses">Courses</a>
            </nav>
        </div>
    </div>
</header>