<section id="manage-work">
    <div class="container">
        <img class="dashboard-image" src="~/images/other/dashboard.svg" alt="task master dashboard">
        <div class="box">
            <h2>Manage Your Work</h2>
            <div class="texts">
                <p><img src="~/images/icons/check-circle-purple.svg" />Powerful project management</p>
                <p><img src="~/images/icons/check-circle-purple.svg" />Transparent work management</p>
                <p><img src="~/images/icons/check-circle-purple.svg" />Manage work & focus on the most important tasks</p>
                <p><img src="~/images/icons/check-circle-purple.svg" />Track your progress with interactive charts</p>
                <p><img src="~/images/icons/check-circle-purple.svg" />Easiest way to track time spent on tasks</p>
            </div>
            <button class="btn-theme-m" asp-action="ManageWork" asp-controller="Products">Learn More<img src="~/images/icons/arrow-icon.svg" /></button>
        </div>
    </div>
</section>