<section id="modes">
    <div class="vl"><div class="purple-circle"><img src="~/images/icons/slider-icon.svg" /></div></div>
    <div class="container">
        <div class="texts">
            <h1 id="text-white">Switch Between </h1>
            <h1 id="text-black"> Light & Dark Mode</h1>
        </div>
        <img src="~/images/other/light-dark-mode.svg" alt="computer screen showing one side with dark mode and one side with light mode" />
    </div>
</section>