<section id="testimonials">
    <div class="container">
        <img class="app" src="~/images/other/app.svg" />
        <div class="box">
            <h1>Download Our App for Any Devices:</h1>
            <div class="reviews">
                <div class="review">
                    <div class="texts">
                        <p>App Store</p>
                        <img class="star" src="~/images/icons/star.svg" /><img class="star" src="~/images/icons/star.svg" /><img class="star" src="~/images/icons/star.svg" /><img class="star" src="~/images/icons/star.svg" /><img class="star" src="~/images/icons/star.svg" />
                        <h4>Editor's Choice</h4>
                        <p class="rating">rating 4.7, 187K+ reviews</p>
                    </div>
                    <div class="platform">
                        <img src="~/images/other/appstore.svg" />
                    </div>
                </div>
                <div class="review">
                    <div class="texts">
                        <p>Google Play</p>
                        <img class="star" src="~/images/icons/star.svg" /><img class="star" src="~/images/icons/star.svg" /><img class="star" src="~/images/icons/star.svg" /><img class="star" src="~/images/icons/star.svg" /><img class="star" src="~/images/icons/star.svg" />
                        <h4>App of the Day</h4>
                        <p class="rating">rating 4.8, 30K+ reviews</p>
                    </div>
                    <div class="platform">
                        <img src="~/images/other/googleplay.svg" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>