@model SignInViewModel
@{
    ViewData["Title"] = "Sign In";
}

<section id="sign-in">
    <div class="container">

        @if (!string.IsNullOrEmpty(ViewData["StatusMessage"]?.ToString()))
        {
            <div class="alert alert-danger">
                @ViewData["StatusMessage"]
            </div>
        }

        <div class="content">
            <h1>Welcome Back</h1>
            <div class="texts">
                <p>Don’t have an account yet?</p>
                <a asp-action="SignUp" asp-controller="Auth">Sign up here.</a>
            </div>
            <form id="signin-form" method="post" asp-action="SignIn" asp-controller="Auth" asp-route-ReturnUrl="@ViewData["ReturnUrl"]" novalidate>
                <div class="forms">
                    <div class="email">
                        <label asp-for="Email">Email</label>
                        <input asp-for="Email" type="email" id="email" name="email" value="" />
                    </div>
                    <div class="password">
                        <label asp-for="Password">Password</label>
                        <input asp-for="Password" type="password" id="password" name="password" value="" />
                    </div>
                </div>
                <div class="form-check">
                    <label asp-for="IsPersistent">Remember me</label>
                    <input asp-for="IsPersistent" type="checkbox" class="form-check-input" />
                </div>
                <button type="submit" class="btn-theme-shadow">Sign in</button>
            </form>
            <div class="box">
                <a href="/Forget-password.html">Forgot your password?</a>
                <hr>
                <h6>Or sign in with your social network</h6>
            </div>
            <div class="buttons">
                <button class="btn-gray btn-google"><i class="fa-brands fa-google"></i>Google</button>
                <button class="btn-gray btn-facebook"><i class="fa-brands fa-facebook-f"></i>Facebook</button>
            </div>
        </div>

    </div>
</section>